<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.app.hometuition">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.HomeTuition">
        <activity
            android:name=".activities.activities_7_9.Urdu79"
            android:exported="true" />
        <activity
            android:name=".activities.activities_7_9.Math79"
            android:exported="true" />
        <activity
            android:name=".activities.activities_7_9.English79"
            android:exported="true" />
        <activity
            android:name=".activities.activities_4_7.Urdu47"
            android:exported="true" />
        <activity
            android:name=".activities.activities_4_7.English47"
            android:exported="true" />
        <activity
            android:name=".activities.activities_4_7.Math47"
            android:exported="true" />
        <activity
            android:name=".activities.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>